<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aburus.html2pdf.lib">

    <application>

        <provider
            android:name="com.aburus.html2pdf.Html2PdfFileProvider"
            android:authorities="${applicationId}.com.aburus.html2pdf.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>